/* Container */
.category-items-container{
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
}

/* Category Items */

.category-item {

    display: flex;
    flex-direction: column;
    width: 18rem;
    padding-bottom: 2rem;
    padding: 10px;
    width: 200px;
    height:360px;

}
.category-item > a > img {
    cursor: pointer;
    max-width: 100%;
    height: auto;
}

.category-item-text:hover {
    color: #9147FF;
    cursor: default;
}



.category-item > h1 {
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 5px;
}

.category-item > p {
    font-size: 12px;
    font-weight: 500;
}

/* Inner Category */

.inner-category-fullpage-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 25px;
    padding-top: 30px;
    height: 100vh;
    overflow-y: scroll;
    font-family: Inter,Roobert,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.inner-category-container {
    display:flex;
    flex-direction: row;
    height: 240px;
    width: 100%;
}

.inner-category-container > img {
    height: 192px;
    width: 144px;
    margin: 15px;
}   

.inner-category-text-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;
}

.inner-category-text-container > h1 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 10px;
}

.inner-category-text-container > p {
    font-size: 20px;
    font-weight: 500;
}

.inner-category-tabs-container {
    display:flex;
    flex-direction: column;
}