.video-item-container {
    display: flex;
    flex-wrap: wrap;
}

.video-container {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.video-container > a > video {
    display:flex;
    width: 400px;
    height: 230px;
    margin: 10px;
    border: transparent solid 2px;
}

.video-container > a > video:hover {
    border: solid #9147FF 2px ; 
}

.video-container > p {
    font-size: 20px;
    font-weight: 500;
}

/* Clip Page / Solo Video Page */

.clip-page-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;

}

.clip-page-container > video {
    display: flex;
    width: 100%;
    height: 800px;
}

/* .clip-page-container > video:focus {
    outline: none;
} */

.clip-page-container > p {
    font-size: 20px;
    font-weight: 600;
}