.outermost-div-for-user-page{
    overflow-y: scroll;
}


.user-page-video{
    width:  100%;
    height: auto;
}

.user-page-current-stream-info{
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-page-left-container{
    width: calc(100% - 340px);
    overflow-y: scroll;
    display:flex;
    flex-direction: column;
    height: 100vh;
}

/* Left Side */

.user-page-image{
    width: 70px;
    height: 70px;
    border: 2px solid #9147ff;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.left-user-page-current-stream-info{
    display:flex;
    width: 60%
}

.right-user-page-current-stream-info{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    /* flex-direction: flex-end; */
    width: 40%;
}

.left-user-page-current-stream-paras{
    display:flex;
    flex-direction: column ; 
}   

.user-page-username,
.user-page-channel-description,
.user-page-category{
    margin-left: 5px;
}

.user-page-username{
    font-size: 30px;
    font-weight: 600;
}

.user-page-channel-description{
    margin-top: 5px;
    font-size: 22px;
    font-weight: 500;
}

.user-page-category {
    text-decoration: none;
    font-size: 20px;
}

.user-page-category:hover{
    color: #9147ff
}

/* Chatroom */

.bottom-bottom-of-chatroom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.chatroom-chat-button{
    width:50px;
    height: 30px;
    display:flex;
    align-items:center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    background-color: #9147ff;
    color: white;
    font-weight: 700;
    font-size: 14px;
}

.chatroom-input{
    width:calc(100% - 15px);
    background-color: #464649;
    outline:none;
    border: 2px solid transparent;
    color: whitesmoke;
    border-radius: 5px;
    padding: 5px;
    height: 28px;
}

.chatroom-input:hover {
    transition: ease-in-out 0.5s;
    border: 2px solid lightgrey;
}

.chatroom-input:focus{
    background-color: black;
    border: 2px solid #a570ff;
}

.chatroom-outer-div {
    position: absolute;
    right: 0;
    top: 48px;
    height: calc(100% - 48px);
    min-width: 340px; 
    background-color: #18181b;
    border-left: 2px solid #303032;
    display: flex;
    flex-direction: column;
    z-index: 15;
}

.top-of-chatroom{
    min-height: 50px;
    width: 100%;
    border-bottom: 2px solid #303032;
    font-size: 16px;
    font-weight: 600;
    color: #d8d8dd;
    display:flex;
    align-items: center;
    justify-content: center;
}

.middle-of-chatroom{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-of-chatroom{
    min-height: 83px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}