.video-info-box, .video-info-box-false {
    width: 100%;
    height: 60px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}

.video-info-box {
    background-color: #18181b;
    display:flex;
    align-items:center

}

.video-info-box-false {
    background-color: transparent;
    color: transparent;
}

.left-side-video-info {
    display: flex;
    min-width: 40px;
    max-width: 50px;
    margin-right: 10px;
    margin-left: 10px;

}

.left-side-video-info >img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.right-side-video-info {
    display:flex;
    margin-left: 10px;
}

.right-side-video-channel{
    display:flex;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;

}

.right-side-video-category {
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    margin-top: 5px;
}

.right-side-video-channel:hover, .right-side-video-category:hover {
    color: #9147FF;
}

.inner-right-side-video-info {
    display:flex;
    flex-direction: column;
    width: 200px;
}

.inner-right-side-description {
    font-size: 18px;
    font-weight: 500;
}

.inner-inner-right-side-video-info {
    display:flex;
    flex-direction: column;
}