::-webkit-scrollbar {
    /* width: 0px;
    background: transparent; */
    display: none;
}

html {
    font-family: Inter,Roobert,Helvetica Neue,Helvetica,Arial,sans-serif;
}


.cursor-pointer {
    cursor: pointer;
}
body {
    height: 200%;
    overflow-y: hidden;
    background-color: #0e0e10;
    color: white;
}

.hover-text:hover{
    color: #9147FF ;
}

.click-text:active {
    color: #772ce8;
}

.hover-button:hover {
    background-color: #772ce8;
}

.click-button:active {
    background-color: #5c16c5;
}

.flex {
    display:flex;
}

/* 404 Page */
.page-not-found {
    display: block;
    height: 100%;
    width: 100%;
    font-size: 50px;
    font-weight: 600;
}

/* Home Page */

.home-page-container{
    display: flex;
    overflow: hidden;
    overflow-y: scroll;
    /* height: calc(100vh - 48px); */
    height: 100vh;
}

