


.nav-bar {
    display: flex;
    height: 40px;
    background-color: #1f1f23;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/* Login, Signup, DemoUser Buttons */
.nav-bar-btn-container{
    display:flex;
    justify-content: space-between;
    width: 12%;
}

.login-btn {

}

.signup-btn {

}