.searchbar-container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 400px;
}

.searchbar-input {
    width: 100%;
    height: 20px;
    border-radius: 5px;
    background-color: #464649;
    border: 2px solid transparent;
    outline: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 5px;
}

.searchbar-input:hover{
    transition: ease-in-out 0.5s;
    border: 2px solid lightgrey;
}

.searchbar-input:focus {
    /* border-radius: 5px; */
    border: 2px solid #a570ff;
    background-color: black;
}

.searchbar-dropdown {
    position: absolute;
    display: flex;
    width: inherit;
    align-items: center;
    z-index: 15;
    flex-direction: column;
    background-color: #18181b;
    border-radius: 5px;
    min-width: 400px;
    top: 40px;
}


.searchbar-link {
    height: 45px;
    width: 94%;
    display:flex;
    text-decoration: none;
    font-size: 20px;
    /* margin-top: 10px; */
    padding-left: 10px;
    margin-bottom: 10px;
    align-items: center;
    border-radius: 5px
}

.searchbar-link:hover {
    background-color: #26262c;
    border-radius: 5px;
}

.searchbar-link > li {
    display: flex;
    margin-left: 10px;
}

.category-searchbar-img{
    width: 30px;
    height: 40px;
}

.user-searchbar-img {
    width: 40px;
    height: 40px;
    border-radius: 50%
}