.sidebar-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #1f1f23;
    /* height: calc(100vh - 48px); */
    font-size: 20px;
    font-weight: 600;
    height: 100vh;
    min-width:250px;
    max-width: 250px;
}


.sidebar-item-container {
    display:flex;
    height: 32px;
    width: 100%;

    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sidebar-item-container:hover {
    background-color: #26262c;
}


.sidebar-left-container {
    min-width: 30px;
    max-width: 30px;
    height: 100%;
    padding-left: 5px;
}



.sidebar-middle-container {
    font-size: 14px;
    min-width: 150px;
    max-width: 150px;
    height:auto
}

.sidebar-middle-container > a {
    text-decoration: none;
}

.sidebar-middle-container > strong {
    font-weight: 700;
}



.sidebar-right-container {
    display:flex;
    align-content: center;
    justify-content: center;
    min-width: 50px;
    max-width: 50px;
    height: auto;
    font-size: 12px;
}

.sidebar-left-container > img {
    width:100%;
    height: auto;
    border-radius: 50%;
}