.sidebar-container {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    background-color: #1f1f23;
    height: calc(100vh - 55px);
    min-width:250px;
    max-width: 250px;

}

